.pal {
  margin: 15px;
}
.mal {
  margin: 15px;
}
.prm {
  padding-right: 10px;
}

.mbs {
  margin-bottom: 5px;
}

.mrs {
  margin-right: 5px;
}
.pas {
  padding: 5px;
}
.mrm {
  margin-right: 10px;
}
.mbl {
  margin-bottom: 15px;
}
.mbm {
  margin-bottom: 10px;
}
.mbx {
  margin-bottom: 30px;
}
